@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
body {
  background-color: #151e3f;
  font-size: 20px;
  color: #fafaef;
  font-family: "Fugaz One", cursive;
}
body .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header" "main aside" "footer footer";
  gap: 1rem 2rem;
  width: 100%;
}
body .container img {
  width: 200px;
  height: 200px;
}
body .container .gamepage-img {
  width: 400px;
  height: 400px;
}
body .container .button {
  padding: 1rem;
}
body .container .button a {
  color: #151e3f;
  text-decoration: none;
}
body .container header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: #fafaef;
  border-bottom: 5px solid #ea3471;
  width: 100%;
}
body .container header h1 {
  font-weight: bold;
  font-size: 50px;
  margin: 1rem;
}
body .container header h1 a {
  color: #ea3471;
  text-decoration: none;
}
body .container header nav {
  position: sticky;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}
body .container header nav li {
  color: rgba(0, 0, 0, 0);
  list-style: none;
  text-decoration: none;
}
body .container header nav li a {
  color: #ea3471;
  text-decoration: none;
}
body .container main {
  grid-area: main;
  width: 100%;
  margin: 0 2rem;
}
body .container main .gamecard {
  padding: 2rem;
  max-width: 200px;
  background-color: #fafaef;
}
body .container main .gamecard h3 {
  text-transform: uppercase;
  line-height: 22px;
}
body .container main .gamecard a {
  text-decoration: none;
  color: #151e3f;
}
body .container main .visitshop {
  display: ruby;
}
body .container main .visitshop .btn-visitshop {
  margin-left: 2em;
}
body .container main .visitshop button {
  padding: 1rem;
}
body .container main .visitshop button a {
  color: #151e3f;
  text-decoration: none;
}
body .container main .gameshop {
  background-color: #efc3e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
}
body .container main .mygames {
  background-color: #b4adff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
}
body .container main .favourites {
  background-color: #ea3471;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
}
body .container .one-game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .container .one-game h2 {
  justify-content: center;
}
body .container aside {
  grid-area: aside;
  background-color: #ea3471;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
body .container aside a {
  text-decoration: none;
  color: #151e3f;
}
body .container aside .gamecard {
  padding: 2rem;
  max-width: 200px;
  background-color: #ff79a6;
}
body .container aside .gamecard h3 {
  text-transform: uppercase;
  line-height: 22px;
}
body .container aside .gamecard a {
  text-decoration: none;
  color: #151e3f;
}
body .container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #fafaef;
  border-top: 5px solid #ea3471;
}
body .container footer p {
  color: #151e3f;
}
body .container footer a {
  color: #151e3f;
  padding-left: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
