@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    background-color: $DarkBlue;
    font-size: 20px;
    color: $White; 
    font-family:'Fugaz One', cursive;

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                        "header header"
                        "main aside"
                        "footer footer";
        gap: 1rem 2rem;
        width: 100%;

        img {
            width: 200px;
            height: 200px;
        }

        .gamepage-img {
            width: 400px;
            height: 400px;
        }

        .button {
            padding: 1rem;

            a{
                color: $DarkBlue; 
                text-decoration: none;
            }      
        }

        header {
            grid-area: header;
            display: flex;
            justify-content: space-between;
            background-color: $White;
            border-bottom: 5px solid $Pink;
            width: 100%;

            h1 {
                font-weight: bold;
                font-size: 50px;
                margin: 1rem;

                a {
                    color: $Pink;
                    text-decoration: none;
                }
            }

            nav {
                position: sticky;
                text-transform: uppercase;
                display: flex;
                text-align: center;
                align-items: center;
                gap: 2rem;
                margin: 1rem;
                
                li {
                    color: $Black;
                    list-style: none;
                    text-decoration: none;

                    a {
                        color: $Pink;
                        text-decoration: none;
                    }
                }
            }
        }

        main {
            grid-area: main;
            width: 100%;
            margin: 0 2rem;

            .gamecard {
                padding: 2rem;
                max-width: 200px;
                background-color: $White;

                h3{
                    text-transform: uppercase;
                }
                
                a {
                    text-decoration: none;
                    color: $DarkBlue;
                }
            }

            .visitshop {
                display: flex;
                gap: 1.5rem;

                button {
                    padding: 1rem;

                    a {
                        color: $DarkBlue;
                        text-decoration: none;
                    }
                }
            }

            .gameshop {
                background-color: $Purple;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 2rem;
                gap: 2rem;
            }

            .mygames {
                background-color: $LightBlue;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 2rem;
                gap: 2rem;
            }
            
            .favourites{
                background-color: $Pink; 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 2rem;
                gap: 2rem;
            }
        }

        aside {
            grid-area: aside;
            background-color: $Pink;
            margin: 0 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            a {
                text-decoration: none;
                color: $DarkBlue;
            }

            .gamecard {
                padding: 2rem;
                max-width: 200px;
                background-color: $LightPink;

                h3{
                    text-transform: uppercase;
                }
                
                a {
                    text-decoration: none;
                    color: $DarkBlue;
                }
            }
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: footer;
            background-color: $White;
            border-top: 5px solid $Pink;
            
            p {
                color: $DarkBlue;
            }

            a {
                color: $DarkBlue;
                padding-left: 0.5rem;
            }
        }
    }
}